/*Unsure of convention for a site this simple, so I've opted organize CSS rules according to the work they're doing. This does lead to some duplicate selectors but makes it really easy to find, for instance, what rule is controlling why that thing is where.*/

/*Image Formatting*/
#portrait {
  width: 180px;
  position: absolute;
  top: 30px;
  left: 30px;
}

td img {
  width: 20px;
  /*padding: 5px 10px;*/
}

/*Layout*/

.jumbotron {
  position: relative;
}

/*The following rule comes from http://stackoverflow.com/questions/20503064/twitter-bootstrap-3-panels-of-equal-height-in-a-fluid-row*/
@media (min-width: 992px) {
   .equal{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

.panel {
  width: 100%;
  height: 95%;
}

/*Table Layout*/
td {
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

.project-name {
  border-right: 1px solid #ddd;
  width: 120px;
}

/*Text/Font Styling*/
#completed-projects {
  text-align: center;
}

.coming-soon {
  font-weight: normal;
}

.project-name {

}

.project-desc {

}

.important-project {
  /*Make a rule to highlight particularly good projects*/
}

/*Custom Colors*/
